/* 
    Document   : basic
    Created on : Dec 28, 2009, 10:54:20 PM
    Author     : 91224
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

