<html>
  <head>
    <title><%= @page_title %></title>


  </head>
  <body>
    <table>
      <tr>
        <td width ="35%">
          <div id="panel">
            Profile : <%=link_to 'Login' ,'/profile/login'%> | <%=link_to 'Register' ,'/profile/register'%><br>
            Contact : <%=link_to 'Create' ,'/contact/create'%> | <%=link_to 'View' ,'/contact/show'%><br>
            Group : <%=link_to 'Create' ,'/group/create'%> | <%=link_to 'View' ,'/group/show'%><br>
            Reminder : <%=link_to 'Create' ,'/reminder/create'%> | <%=link_to 'View' ,'/reminder/show'%><br>
            Categories : <%=link_to 'Create' ,'/category/create'%>
          </div>
        </td>
        <td><%=yield%></td>
    </tr>

  </table>
</body>

</html>