<html>
  <head>
    <title><%= @page_title %></title>
        <!--<%= stylesheet_link_tag '/javascripts/ext-3.1.0/resources/css/ext-all' %>
        <%= javascript_include_tag 'ext-3.1.0/adapter/ext/ext-base', 'ext-3.1.0/ext-all',:defaults %>-->
  </head>
  <body>
    
    <div id="nav"></div>
    <div id ="body" align="center">
      <%= yield %>
    </div>
  </body>

</html>